<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiPPLbK4rvKHKkX1KiGQPAlVjhpyL3hdA</string>
	<key>GCM_SENDER_ID</key>
	<string>72117822875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.RedouaneAmour.NextRace</string>
	<key>PROJECT_ID</key>
	<string>p12nextrace</string>
	<key>STORAGE_BUCKET</key>
	<string>p12nextrace.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:72117822875:ios:24825929d02c18bdeaed3e</string>
</dict>
</plist>
